<h2> Stand Alone Component </h2>


<div class="card">
  <div class="card-header">
    User Information
  </div>
  <div class="card-body">
    <div> <strong>Name</strong> : Ankush Kadam</div>
    <div> <strong>Address</strong> : Pune, Maharashtra</div>
    <div> <strong>About : </strong>
      Frontend Developer,
      <em>Love to design code from the Scratch.</em>
    </div>
    <div> <strong>Portfolio : </strong><a href="https://ankushkadam.github.io/portfolio" target="_blank"> https://ankushkadam.github.io/portfolio</a></div>
    <div> <strong>LinkedIn : </strong><a href="https://www.linkedin.com/in/ankush-kadam-5a783b121" target="_blank" > https://www.linkedin.com/in/ankush-kadam-5a783b121</a></div>
  </div>
</div>